<a href="https://colab.research.google.com/github/triatebr/aprenda-arduino/blob/master/OpenData_TDC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logos](https://mundogeo.com/wp-content/uploads/2014/01/Plataforma-Dados-Abertos.jpg)

Hoje teremos contato com os conceitos/prática de **Dados Abertos** e realizaremos uma análise exploratória usando comandos do **Python** via [Colab.research](https://colab.research.google.com/notebooks/welcome.ipynb)

In [0]:
import pandas as pd
import seaborn as sns
import numpy as np
import io
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
# Fonte dos dados: http://dados.gov.br/dataset/comite-nacional-para-os-refugiados
url = 'https://www.justica.gov.br/seus-direitos/refugio/anexos/1990-a-2019-solicitacoes-de-reconhecimento-da-condicao-de-refugiado.xlsx'

In [0]:
dfs = pd.read_excel(url,enconding='latin',delimiter=";")

In [0]:
# Visualização das 5 primeiras linhas do dataframe, mas caso prefira mais linhas? insira o numero entre os '()'
# Costuma-se usar nome sugestivos para os Dataframes, com foco na facilidade de lembrar e usar
dfs.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  12/2001  DF           1
1       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  01/2010  DF           1
2       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  DF           2
3       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  SP           2
4       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  08/2010  DF           1

In [0]:
# Quantidade de linhas e colunas do dataframe
dfs.shape

(11656, 5)

In [0]:
# Todas as colunas do dataframe
dfs.columns

Index(['Tipo de Alertas e Restrições', 'Nacionalidade', 'Mês/Ano', 'UF',
       'Quantidade'],
      dtype='object')

In [0]:
# Após a importação e visualização, como serão as colunas e características do nosso Dataframe?
dfs.dtypes

Tipo de Alertas e Restrições    object
Nacionalidade                   object
Mês/Ano                         object
UF                              object
Quantidade                       int64
dtype: object

Informação **NACIONALIDADE**

In [0]:
# Para sabermos os valores únicos de uma determinada coluna, usamos o 'unique()'
dfs['Nacionalidade'].unique()

array(['AFEGANISTÃO', 'ALBÂNIA', 'ALEMANHA', 'ANDORRA', 'ANGOLA',
       'APÁTRIDA', 'ARGENTINA', 'ARGÉLIA', 'ARMÊNIA', 'ARÁBIA SAUDITA',
       'AUSTRÁLIA', 'BANGLADESH', 'BARBADOS', 'BAREINE', 'BELARUS',
       'BELIZE', 'BENIN', 'BHUTAN', 'BOLÍVIA', 'BRASIL', 'BULGÁRIA',
       'BURKINA FASO', 'BURUNDI', 'BUTÃO', 'BÉLGICA',
       'BÓSNIA E HERZEGOVINA', 'CABO VERDE', 'CAMARÕES', 'CAMBOJA',
       'CANADÁ', 'CAZAQUISTÃO', 'CHILE', 'CHINA', 'COLÔMBIA', 'CONGO',
       'CORÉIA DO NORTE', 'CORÉIA DO SUL', 'COSTA DO MARFIM',
       'COSTA RICA', 'CROÁCIA', 'CUBA', 'DAOME', 'DINAMARCA', 'DJIBUTI',
       'DOMINICA', 'EGITO', 'EL SALVADOR', 'EMIRADOS ÁRABES', 'EQUADOR',
       'ERITRÉIA', 'ESLOVÁQUIA', 'ESPANHA', 'ESTADOS UNIDOS', 'ESTÔNIA',
       'ETIÓPIA', 'FIJI, ILHAS', 'FILIPINAS', 'FRANÇA', 'GABÃO', 'GANA',
       'GEÓRGIA', 'GRÉCIA', 'GUAM', 'GUATEMALA', 'GUIANA',
       'GUIANA FRANCESA', 'GUINÉ', 'GUINÉ BISSAU', 'GUINÉ EQUATORIAL',
       'GÂMBIA', 'HAITI', 'HONDURAS', 'HUNGRIA', 'INDONÉSIA', 'IRAQUE',
       'IRLANDA', 'IRÃ', 'ISRAEL', 'ITÁLIA', 'IUGUSLAVIA', 'IÊMEN',
       'JAMAICA', 'JAPÃO', 'JORDÂNIA', 'KUAITE', 'LAOS', 'LESOTO',
       'LETÔNIA', 'LIBÉRIA', 'LITUÂNIA', 'LÍBANO', 'LÍBIA',
       'MACAU (R.A.E.)', 'MACEDÔNIA', 'MALGAXE', 'MALI', 'MALTA',
       'MALÁSIA', 'MARROCOS', 'MAURITÂNIA', 'MAURÍCIO', 'MONGÓLIA',
       'MOÇAMBIQUE', 'MYANMAR', 'MÉXICO', 'NACIONALIDADE INDEFINIDA',
       'NAMÍBIA', 'NEPAL', 'NICARÁGUA', 'NIGÉRIA', 'NORUEGA',
       'NOVA ZELÂNDIA', 'NÍGER', 'PALESTINA', 'PANAMÁ', 'PAQUISTÃO',
       'PARAGUAI', 'PAÍSES BAIXOS', 'PERU', 'POLÔNIA', 'PORTUGAL',
       'QUÊNIA', 'REINO UNIDO', 'REP. CENTRO AFRICANA', 'REP. DOMINICANA',
       'REPÚBLICA DEMOCRÁTICA DO CONGO', 'REPÚBLICA TCHECA', 'ROMÊNIA',
       'RUANDA', 'RÚSSIA', 'SAARA OCIDENTAL\n- SAARAUI, REPÚBLICA',
       'SENEGAL', 'SERRA LEOA', 'SOMÁLIA', 'SRI LANKA',
       'ST. PIERRE ET MIQUELON', 'SUDÃO', 'SURINAME', 'SUÉCIA', 'SUÍÇA',
       'SÃO TOMÉ E PRÍNCIPE', 'SÉRVIA', 'SÍRIA', 'TAILÂNDIA', 'TAIWAN',
       'TANZÂNIA', 'TOGO', 'TRINIDAD E TOBAGO', 'TUNÍSIA',
       'TURCOMENISTÃO', 'TURQUIA', 'UCRÂNIA', 'UGANDA', 'UNIÃO SOVIÉTICA',
       'URUGUAI', 'UZBEQUISTÃO', 'VANUATU', 'VATICANO', 'VENEZUELA',
       'VIETNÃ', 'ZAIRE', 'ZIMBÁBUE', 'ZÂMBIA', 'ÁFRICA DO SUL', 'ÍNDIA'],
      dtype=object)

In [0]:
# Agrupando dados, inicialmente por Nacionalidade
dfs['Nacionalidade'].value_counts()

CUBA                              887
HAITI                             775
VENEZUELA                         665
COLÔMBIA                          556
SENEGAL                           469
SÍRIA                             466
BANGLADESH                        385
GUINÉ BISSAU                      371
ANGOLA                            343
CONGO                             337
PAQUISTÃO                         325
GANA                              298
NIGÉRIA                           294
REP. DOMINICANA                   289
LÍBANO                            255
GUINÉ                             219
MARROCOS                          178
IRAQUE                            164
PALESTINA                         150
ÍNDIA                             147
NACIONALIDADE INDEFINIDA          144
EGITO                             137
SERRA LEOA                        132
TOGO                              131
CAMARÕES                          124
SOMÁLIA                           122
REPÚBLICA DEMOCRÁTICA DO CONGO    118
CHINA                             117
GÂMBIA                            116
BOLÍVIA                           113
                                 ...
TRINIDAD E TOBAGO                   2
UZBEQUISTÃO                         2
MACEDÔNIA                           2
AUSTRÁLIA                           2
ESLOVÁQUIA                          1
MALGAXE                             1
LETÔNIA                             1
LAOS                                1
CORÉIA DO NORTE                     1
BELIZE                              1
NORUEGA                             1
IUGUSLAVIA                          1
ESTÔNIA                             1
BAREINE                             1
GUAM                                1
BÉLGICA                             1
MONGÓLIA                            1
BARBADOS                            1
DAOME                               1
BÓSNIA E HERZEGOVINA                1
CAMBOJA                             1
CROÁCIA                             1
SUÍÇA                               1
MAURÍCIO                            1
BUTÃO                               1
GABÃO                               1
BELARUS                             1
IRLANDA                             1
ST. PIERRE ET MIQUELON              1
CANADÁ                              1
Name: Nacionalidade, Length: 165, dtype: int64

In [0]:
#selecionando uma Nacionalidade específica
dfs.loc[(dfs['Nacionalidade'] == 'BOLÍVIA')]

     Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
1082       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  02/2002  SP           1
1083       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  06/2002  SP           7
1084       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  07/2002  SP           1
1085       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2006  SP           1
1086       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  07/2006  SP           1
1087       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  11/2008  AC          16
1088       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  11/2008  DF           3
1089       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  11/2008  RO           3
1090       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  12/2008  AC          35
1091       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  12/2008  DF           5
1092       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  12/2008  RO           1
1093       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2009  AC         142
1094       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2009  DF          25
1095       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2009  MS           1
1096       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  02/2009  AC           1
1097       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  03/2009  DF           1
1098       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  04/2009  AC          11
1099       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  04/2009  DF           2
1100       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  06/2009  AC           6
1101       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  06/2009  DF           2
1102       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  08/2009  RO           1
1103       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2010  AC           5
1104       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  03/2010  AC           4
1105       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  03/2010  MS           1
1106       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  07/2010  AC           1
1107       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  07/2010  MS           1
1108       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  08/2010  AC           2
1109       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  09/2010  AC           5
1110       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  09/2010  MS           1
1111       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2010  AC           3
...                           ...           ...      ...  ..         ...
1165       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  06/2017  SP           1
1166       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  07/2017  DF           1
1167       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  09/2017  RJ           1
1168       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2017  SP           2
1169       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2018  AM           1
1170       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  02/2018  SP           1
1171       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  03/2018  MS           1
1172       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  04/2018  SP           1
1173       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  05/2018  AM           1
1174       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  05/2018  RR           1
1175       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  06/2018  AC           3
1176       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  06/2018  MG           1
1177       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  06/2018  SP           1
1178       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  07/2018  AM           1
1179       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  08/2018  AM           1
1180       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  08/2018  SP           1
1181       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  09/2018  DF           1
1182       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  09/2018  MT           1
1183       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  09/2018  SP           1
1184       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2018  AM           4
1185       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2018  GO           1
1186       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2018  RR           1
1187       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2018  SC           1
1188       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  12/2018  AC           1
1189       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2019  DF           1
1190       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2019  MS           1
1191       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2019  SP           2
1192       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  02/2019  SP           3
1193       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  03/2019  RJ           2
1194       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  03/2019  SP           1

[113 rows x 5 columns]

In [0]:
dfs.loc[(dfs['Nacionalidade'] == 'BOLÍVIA')  & (dfs['UF'] =='AM')]

     Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
1157       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2016  AM           1
1169       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  01/2018  AM           1
1173       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  05/2018  AM           1
1178       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  07/2018  AM           1
1179       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  08/2018  AM           1
1184       SOLICITAÇÃO DE REFÚGIO       BOLÍVIA  10/2018  AM           4

In [0]:
#selecionando + de 1 Nacionalidade específica
dfs.loc[(dfs['Nacionalidade'] == 'UZBEQUISTÃO')  | (dfs['Nacionalidade'] =='ESTÔNIA')]

      Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
3960        SOLICITAÇÃO DE REFÚGIO       ESTÔNIA  12/2017  AM           1
10693       SOLICITAÇÃO DE REFÚGIO   UZBEQUISTÃO  07/2009  DF           1
10694       SOLICITAÇÃO DE REFÚGIO   UZBEQUISTÃO  06/2018  SP           2

![logos](https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/table.png)

Outro **Dataframe** agora ...

In [0]:
url1 = 'https://www.justica.gov.br/seus-direitos/refugio/anexos/decisoes-conare-ate-jan-2019.xlsx'

In [0]:
dfd = pd.read_excel(url1,enconding='latin',delimiter=";")

In [0]:
dfd.head()

,TOTAL= 1510,STATUS,DATA SOLICITAÇÃO,PAÍS DE ORIGEM,GÊNERO,ANO DE NASCIMENTO,CIDADE SOLICITAÇÃO,ANO DECISÃO
0,NaN,ELEGIBILIDADE / DEFERIMENTO,1993-04-15,ANGOLA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1993.000000
1,NaN,ELEGIBILIDADE / DEFERIMENTO,1993-04-15,ANGOLA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1994.487979
2,NaN,ELEGIBILIDADE / DEFERIMENTO,1995-06-22,LIBÉRIA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1995.000000
3,NaN,ELEGIBILIDADE / DEFERIMENTO,1995-06-22,LIBÉRIA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1994.487866
4,NaN,ELEGIBILIDADE / DEFERIMENTO,1992-07-22,APÁTRIDA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1992.000000

In [0]:
dfg = dfd.drop(['TOTAL= 1510'], axis=1)

In [0]:
# quantidade de linhas e colunas do dataframe
dfg.shape

(1515, 7)

In [0]:
# as últimas 5 linhas
dfg.head()

,STATUS,DATA SOLICITAÇÃO,PAÍS DE ORIGEM,GÊNERO,ANO DE NASCIMENTO,CIDADE SOLICITAÇÃO,ANO DECISÃO
0,ELEGIBILIDADE / DEFERIMENTO,1993-04-15,ANGOLA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1993.000000
1,ELEGIBILIDADE / DEFERIMENTO,1993-04-15,ANGOLA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1994.487979
2,ELEGIBILIDADE / DEFERIMENTO,1995-06-22,LIBÉRIA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1995.000000
3,ELEGIBILIDADE / DEFERIMENTO,1995-06-22,LIBÉRIA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1994.487866
4,ELEGIBILIDADE / DEFERIMENTO,1992-07-22,APÁTRIDA,NaN,Desconhecido,RJ (RIO DE JANEIRO),1992.000000

In [0]:
# após a importação e visualização, como serão as colunas e características do nosso Dataframe?
dfg.dtypes

STATUS                        object
DATA SOLICITAÇÃO      datetime64[ns]
PAÍS DE ORIGEM                object
GÊNERO                        object
ANO DE NASCIMENTO             object
CIDADE SOLICITAÇÃO            object
ANO DECISÃO                  float64
dtype: object

In [0]:
dfg['PAÍS DE ORIGEM'].value_counts()

ANGOLA                   861
LIBÉRIA                  182
ZAIRE                     93
CUBA                      64
IRAQUE                    57
IUGOSLÁVIA                37
PERU                      28
SERRA LEOA                20
IRÃ                       17
RUANDA                    15
ARGENTINA                 13
NIGÉRIA                   12
LÍBANO                    11
SOMÁLIA                   10
SUDÃO                      8
APÁTRIDA                   7
SÉRVIA                     5
GANA                       5
MACEDÔNIA                  5
ETIÓPIA                    4
EL SALVADOR                4
ARGÉLIA                    4
EGITO                      4
CROÁCIA                    4
VIETNÃ                     3
ÁFRICA DO SUL              3
SÍRIA                      3
LÍBIA                      3
ARMÊNIA                    2
MOÇAMBIQUE                 2
CAMARÕES                   2
GUIANA                     2
PALESTINA                  2
TANZANIA                   2
REPÚBLICA DOMINICANA       2
MAURITÂNIA                 2
GUINÉ-BISSAU               2
MALI                       1
SRI-LANKA                  1
"PAÍS FORA DA TABELA"      1
BURUNDI                    1
BÓSNIA E HEZERGOVINA       1
ROMÊNIA                    1
NICARÁGUA                  1
COLÔMBIA                   1
CHILE                      1
PAQUISTÃO                  1
BURKINA FASO               1
                           1
Name: PAÍS DE ORIGEM, dtype: int64

In [0]:
dfg['STATUS'].value_counts()

ELEGIBILIDADE / DEFERIMENTO    1503
Name: STATUS, dtype: int64